/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWERTY_L 0
#define DVORAK_L 1
#define COLEMK_L 2
#define NAV_L    3
#define SYM_L    4
#define ADJ_L    5
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)

/ {
    combos {
        compatible = "zmk,combos";

        print_screen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <2 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | ESC   |   Q   |   M   |   W   |   B   |   Z   |-----------------------------------|   J   |   F   |   O   |   U   |   ;   | ADJ_L |
 * | TAB   |   N   |   R   |   S   |   T   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   A   |   '   |
 * | GUI   |   X   |   L   |   C   |   D   |   V   |  DEL  |-------------------|DVORAK_L|  K   |   P   |   ,   |   .   |  Up   | ENTER |
 * | ENTER |  ESC  | CTRL  |-------| ALT   | SHIFT |  CTRL |  Nav  |---|  Sym  | BKSPC | SPACE | /     |-------| Left  | Down  | Right |
 */

            bindings = <
 &kp ESC     &kp Q  &kp M  &kp W  &kp B               &kp Z                                                        &kp J  &kp F      &kp O     &kp U  &kp SEMI  &kp GRAVE
 &kp TAB     &kp N  &kp R  &kp S  &kp T               &kp G                                                        &kp Y  &kp H      &kp E     &kp I     &kp A    &kp SQT
&kp LGUI     &kp X  &kp L  &kp C  &kp D               &kp V    &lt 5 DELETE                           &sl 5        &kp K  &kp P  &kp ENTER   &kp DOT    &kp UP  &kp RMETA
   &mo 4  &kp HOME  &to 0         &sl 1  &mt LSHFT KP_COMMA  &mt LCTRL BSPC  &kp LALT  &kp BSPC  &lt 3 BSPC  &lt 2 SPACE  &mo 4             &kp LEFT  &kp DOWN  &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        mirror_layer {
            /* DVORAK
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   '   |   ,   |   .   |   P   |   Y   |-----------------------------------|   S   |   7   |   8   |   9   |   L   | ADJ_L |
 * | TAB   |   A   |   O   |   E   |   U   |   I   |-----------------------------------|   S   |   4   |   5   |   6   |   S   | ENTER |
 * | SHIFT |   ;   |   Q   |   J   |   K   |   X   |   Z   |-------------------|   /   |   S   |   1   |   2   |   3   |  Up   | SHIFT |
 * | Mute  |  ESC  | CTRL  |-------|  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  0    |-------| Left  | Down  | Right |
 */

            bindings = <
 &kp GRAVE  &kp COLON       &kp U      &kp O  &kp F            &kp J                                                  &kp Z  &kp B  &kp W   &kp M   &kp Q        &kp ESC
&caps_word      &kp A       &kp I      &kp E  &kp H            &kp Y                                                  &kp G  &kp T  &kp S   &kp R   &kp N        &kp TAB
  &kp CAPS  &kp PG_UP  &kp PERIOD  &kp ENTER  &kp P            &kp K           &sl 5                       &lt 5 DEL  &kp V  &kp D  &kp C   &kp L   &kp X  &kp RIGHT_WIN
     &to 1  &kp PG_DN       &to 0             &to 2  &mt LSHFT SPACE  &mt LCTRL BSPC  &kp LEFT_ALT  &to 4      &to 3  &to 2  &to 4         &trans  &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        num_layer {
            /* SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | INS   |   !   |   @   |   #   |   $   |   %   |-----------------------------------|   ^   |   &   |   *   |   (   |   )   | DELETE|
 * | CAPS  |   \   |   -   |   =   |   [   |   ]   |-----------------------------------| Vol+  | Shift | Ctrl  | Alt   | Gui   | ENTER |
 * | Shift |   |   |   _   |   +   |   {   |   }   | Play  |-------------------| Mute  | Vol-  |  N0   |  N1   |  N2   |       | SHIFT |
 * |       |       |       |-------|       |       |       |  ADJ_L |---|      |       |       |       |-------| CTRL  | MENU  |SkAltGr|
 */

            bindings = <
&trans                 &none             &none              &none                  &none    &kp K_CUT                                              &kp K_CUT  &kp KP_NUMBER_7  &kp KP_N8  &kp KP_N9      &none   &trans
&trans  &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS   &kp K_COPY                                             &kp K_COPY        &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_N0  &kp SQT
&trans        &kp LEFT_BRACE     &kp LESS_THAN   &kp GREATER_THAN        &kp RIGHT_BRACE  &kp K_PASTE  &lt 4 DEL                      &lt 4 DEL  &kp K_PASTE        &kp KP_N1  &kp KP_N2  &kp KP_N3     &trans   &trans
 &none                 &none             &to 0                                     &to 0       &trans     &trans  &trans  &lt 4 BSPC      &sl 3        &mo 0        &kp KP_N0                &trans     &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        sym_layer {
            /* NAV
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | Copy  |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   | BSPC  |
 * | Cut   |  GUI  |  Alt  | Ctrl  | Shift | Paste |-----------------------------------| PG UP |  Left |  Up   |  Down | Right | PG DN |
 * | Shift |  F1   |  F2   |  F3   |  F4   |  F5   |  UnDo |-------------------| ReDo  |  F6   |  F7   |  F8   |  F9   |  F10  | Shift |
 * | F11   |  F12  |       |-------|       |       |       |       |---| ADJ_L |       |       |       |-------| CTRL  | HOME  |  END  |
 */

            bindings = <
&trans  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15                                                   &kp CARET  &kp EXCLAMATION     &kp AT  &kp PERCENT  &kp AMPERSAND             &trans
&trans   &kp F6   &kp F7   &kp F8   &kp F9  &kp F10                                                   &kp UNDER        &kp EQUAL  &kp MINUS     &kp PLUS       &kp HASH  &kp DOUBLE_QUOTES
&trans   &kp F1   &kp F2   &kp F3   &kp F4   &kp F5  &lt 4 DEL                         &lt 4 DEL  &kp BACKSLASH        &kp SLASH   &kp AMPS    &kp ASTRK   &kp QUESTION             &trans
&trans   &trans    &to 0             &to 2   &trans     &trans  &trans  &kp BACKSPACE      &mo 0    &lt 2 SPACE            &mo 0                  &trans         &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        nav_layer {
            bindings = <
&trans     &none     &none   &none      &none   &none                                              &kp K_MUTE   &kp C_VOL_DN  &kp C_VOL_UP       &none     &none  &trans
&trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT   &none                                          &kp SCROLLLOCK      &sk RSHFT     &sk RCTRL    &sk RALT  &sk RGUI  &trans
&trans     &none     &none   &none      &none   &none  &lt 4 DEL                    &lt 4 DEL           &none  &kp K_REFRESH    &kp K_PREV  &kp K_NEXT    &kp UP  &trans
&trans    &trans     &to 0              &none  &trans     &trans  &trans  &kp BSPC      &to 3     &lt 2 SPACE          &mo 0                    &trans    &trans  &trans
            >;
        };

        fn_layer {
            /* COLEMAK-DH
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   F   |   P   |   B   |-----------------------------------|   J   |   L   |   U   |   Y   |   ;   | BKSPC |
 * | TAB   |   A   |   R   |   S   |   T   |   G   |-----------------------------------|   M   |   N   |   E   |   I   |   O   | ENTER |
 * | SHIFT |   Z   |   X   |   C   |   D   |   V   |   '   |-------------------|   /   |   K   |   H   |   ,   |   .   |  Up   | SHIFT |
 * | Mute  |  ESC  | CTRL  |-------|  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |-------| Left  | Down  | Right |
 */

            bindings = <
&trans  &kp C_AC_FORWARD  &kp C_MENU_PICK  &kp C_AC_OPEN      &kp C_AC_PROPS    &kp K_CUT                                 &kp K_MUTE     &kp C_VOL_DN      &kp C_VOL_UP  &kp PRINTSCREEN     &none  &trans
&trans         &kp CLEAR            &none   &kp CAPSLOCK          &caps_word   &kp K_COPY                                      &none     &kp C_REWIND  &kp C_PLAY_PAUSE         &kp C_FF  &kp C_FF  &trans
 &none      &kp C_AC_CUT          &kp INS  &kp C_AC_COPY  &kp C_AC_BOOKMARKS  &kp K_PASTE   &none                 &none        &none  &kp PRINTSCREEN     &kp C_AC_UNDO    &kp C_AC_REDO     &none  &trans
&trans            &trans            &to 0                              &to 3       &trans  &trans  &trans  &mo 0  &sl 3  &lt 2 SPACE            &mo 0                             &trans    &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
